html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #121213;
}
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top {
    display: flex;
    top: auto;
    border-bottom: 1px solid #575757;
    text-align: center;
    width: 520px;
    height: 55px;
}
.help {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
}
.help:hover {
    border: 1px solid #575757;
}
h1 {
    margin: 0;
    margin-left: 125px;
    padding-top: 5px;
    color: #d7dadc;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
}
.stats {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 90px;
}
.stats:hover {
    border: 1px solid #575757;
}
.settings {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-left: 10px;
}
.settings:hover {
    border: 1px solid #575757;
}
.mid {
    position: fixed;
    width: 420px;
    height: 430px;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -210px; /* Half of width. */
}
.midrow {
    display:flex;
    margin-left: 0px;
    margin-top: 10px;
    gap: 8px;
    margin-left: 8px;
}
.tile {
    border: 2px solid #575757;
    width: 60px;
    height: 60px;
}
.bot {
    position: absolute;
    bottom: 0;
    height: 205px;
    width: 500px;
}
.botrow {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 5px;
}
.key {
    background-color: #838383;
    color: #ffffff;
    border-radius: 5px;
    width: 45px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding: 18px 0;
}
.key:hover {
    background-color: #505050;
}
.key:active {
    background-color: #838383;
}
.bigkey {
    background-color: #838383;
    color: #ffffff;
    border-radius: 5px;
    width: 68px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    padding: 18px 0;
}
.bigkey:hover {
    background-color: #505050;
}
.bigkey:active {
    background-color: #838383;
}
