html, body {
    position: absolute;
    width: 100%;
    height: 100%;
}
.background {
    background-color: #121213;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top {
    top: auto;
    border: 2px solid #ff9c9c;
    text-align: center;
    width: 625px;
    height: 65px;
}
.help {

}
h1 {
    margin: 0;
    padding-top: 5px;
    color: #d7dadc;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}
.stats {

}
.settings {

}
.mid {
    height: 850px;
    border: 2px solid #bdbeff;
}
.wordle {

}
.bot {
    position: relative;
    bottom: 0;
    border: 2px solid #008b13;
    height: 256px;
    width: max-content;
}
.keyboard {
    border: 2px solid #008b13; 
    width: max-content;
}